In [7]:
a=[91,92,93,94,95,97,99,94,985,56,61,62,83]

In [8]:
for i in enumerate(a):
    print(i)

(0, 91)
(1, 92)
(2, 93)
(3, 94)
(4, 95)
(5, 97)
(6, 99)
(7, 94)
(8, 985)
(9, 56)
(10, 61)
(11, 62)
(12, 83)

In [15]:
k=enumerate(a)

In [16]:
for i,j in k:
    print(i,j)

0 91
1 92
2 93
3 94
4 95
5 97
6 99
7 94
8 985
9 56
10 61
11 62
12 83

In [19]:
for i in enumerate([12,15,17,18,78,98,89,75,65,45,43,42,14,15,86,9,5]):
    for j in i:
        print(i,j)

(0, 12) 0
(0, 12) 12
(1, 15) 1
(1, 15) 15
(2, 17) 2
(2, 17) 17
(3, 18) 3
(3, 18) 18
(4, 78) 4
(4, 78) 78
(5, 98) 5
(5, 98) 98
(6, 89) 6
(6, 89) 89
(7, 75) 7
(7, 75) 75
(8, 65) 8
(8, 65) 65
(9, 45) 9
(9, 45) 45
(10, 43) 10
(10, 43) 43
(11, 42) 11
(11, 42) 42
(12, 14) 12
(12, 14) 14
(13, 15) 13
(13, 15) 15
(14, 86) 14
(14, 86) 86
(15, 9) 15
(15, 9) 9
(16, 5) 16
(16, 5) 5

In [22]:

dic={
    'name': "krrish"
}

In [24]:
dic['name']

'krrish'

In [48]:
dict={
    "id":{
    'name': {'krrish','tom'}
    ,'class': {1311,2000}
}
    }

In [49]:
dict

{'id': {'name': {'krrish', 'tom'}, 'class': {1311, 2000}}}

In [52]:
dict['id']['class']

{1311, 2000}

In [61]:
dict_={
    'krishna':{
        'group':2,
        'program':"Arth",
        'tech':{'C++','DSA','DS','DevOps'}
    },
    'tom':{
        'group':3,
        'program':"Arth",
        'tech':{'C++','DSA','DevOps'}
    }
}

In [64]:
dict_['tom']['group']

3